*{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
    

/* Fonts */



  /* Header */

header{
    background: #CBC9C3;
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    left: 0px;
    top: 0px;

    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    margin: 15px;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    background-size: 100%;
  }
  
header a{
padding: 15px;
text-decoration: none;
color: #000000;
}

  
nav a:hover {
    background-color: rgba(233, 232, 228, 0.5);
}

a.active {
    font-family: fontsMontserratBold;
}

.page_title {
    float: left;
    padding: 15px;
    margin-left: 1.5%;
    font-size: 15px;
    font-weight: lighter;
    background-size: 100%;
    font-size: 15px;
    font-weight: 300;
}

.page_title:hover{
    color: #84634E;
}

/* Backgrounds */

.index_body {
    background-image: url("images/backgrounds/index_background.html.png" );
}

.projects_body{
    background-image: url("images/backgrounds/projects_background.png" );
}

.about_body {
    background-image: url("images/backgrounds/about_background.png" );
}

.resume_body {
    background-image: url("images/backgrounds/resume_background.png" );
}

.contact_body {
    background-image: url("images/backgrounds/contact_background.png" );
}

#paralax_body {
    background-image: url("images/backgrounds/paralax_background.png" );
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}


/* Body */

body {
    background-color: #E9E8E4;
    margin: 0;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.index_main{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 10%
}

.about_main{
    /* fortsätt här */
}

a{
    color: black;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 45px;
    margin-bottom: 10px;
}

h2{
    font-family: 'Merriweather', serif;
    font-size: 25px;
    color: #84634E;

    margin-top: 0px;
}

h3{
    font-weight: 300;
    font-size: 15px;
}

.index_h3{
    width: 80%;
}

button {
width: 165px;
height: 40px;

border-radius: 50px;
color: #000000;
border: none;

align-items: center;
text-align: center;
text-decoration: none;
text-transform: uppercase;
margin-top: 2%;
transition-duration: 0.1s;
}

button:hover {
    opacity: 0.85;
}

.button_1 {
    background: #D99F84;
}

.button_2{
background: #E7C4AC;
}

.button_3 {
    background: #D99F84;
}

.button_4{
background: #ECCC8E;
}


/* Footer */

footer {
    position: fixed;
    text-align: center;
    height: 40px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;

    font-weight: 300;
    font-size: 10px;
    color: #84634E;
}
