*{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

/* Allmän sidstyling */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #E9E8E4;
}

header{
    background: #CBC9C3;
    display: flex;
    position: fixed;
    z-index: 999;
    justify-content: space-between;
    width: 100%;
    left: 0px;
    top: 0px;

    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    margin: 15px;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    background-size: 100%;
}
  
header a{
padding: 15px;
text-decoration: none;
color: #000000;
}
  
nav a:hover {
    background-color: rgba(233, 232, 228, 0.5);
}

.navbar .icon {
    display: none;
  }

.page_title {
    float: left;
    padding: 15px;
    margin-left: 1.5%;
    font-size: 15px;
    font-weight: lighter;
    background-size: 100%;
    font-size: 15px;
    font-weight: 300;
}

.page_title:hover{
    color: #84634E;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    /*background-attachment: fixed;*/
    position: relative;
}

#section_index{
    margin-top: 50px;
    background-color: #E9E8E4;
    background-image: url("images/backgrounds/index_background.html.png" );
}

#section_index div{
    /*margin-left: 15%;
    margin-right: 50%;*/
    margin: 4% 50% 0% 15%;
}

#section_index h3{
    margin: 8% 0%;
}

#section_projects{
    background-color: #D8D7D2;
    background-image: url("images/backgrounds/projects_background.png" );
    padding-bottom: 5%;
    padding-top: 5%;
}

#section_projects_textcontainer {
    display: flex;
    flex-direction: column;
    margin: 5% 5% 2% 5%;
}

#section_projects_imagecontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div img {
    width: 40vw;
    min-width: 300px;
}

#section_about {
    background-color: #E9E8E4;
    background-image: url("images/backgrounds/about_background.png" );
    padding-top: 5%;
}
#section_about div {
    padding: 5% 10% 2% 45%;
}

#section_about table{
    margin: 10% 0% 0% 0%;
}

#section_about h3{
    margin: 8% 0%;
}

#section_resume {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #D8D7D2;
    background-image: url("images/backgrounds/resume_background.png" );

    padding: 10% 0% 10% 0%;
}

.resume_div_top, .resume_div_bottom {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.resume_div_content {
    width: 40vw;
}

td {
    padding: 5px 15px 0px 5px;
}

#section_contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #E9E8E4;
    background-image: url("images/backgrounds/contact_background.png" );

    padding: 0% 0% 0% 0%;
}

#contact_form {
    height: 344px;
    width: 344px;
    margin: 10% auto 0% auto;
}

#contact_form p {
    color: #84634E;
    background-color: #ECCC8E;
    width: 344px;
    height: 200px;
    text-align: center;
    padding-top: 144px;
}

#contact_form p:hover{
    color: #000;
    background-color: #E7CC9A;
}

#linkedin_container {
    margin: 10% auto 0% auto;
    
}

#linkedin_image {
    background-color: #E9E8E4;
    background-image: url("images/site_content/linkedin_image.png" );
    width: 344px;
    height: 344px;
    border-radius: 50%;
    transition-duration: 0.1s;
}

#linkedin_image:hover {
    background-image: url("images/site_content/linkedin_image_hover.png" );

}

/* Övrig text styling */

a{
    color: black;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 4vw;
    margin-bottom: 10px;
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 3vw;
    color: #000;

    margin-top: 0px;
}

#section_index h2 {
    color: #84634E;
    font-size: 2vw;
}

h3, td , p{
    font-weight: 300;
    font-size: 15px;
}

/* Buttons */

button {
    width: 145px;
    height: 40px;
    
    border-radius: 50px;
    color: #000000;
    border: none;
    
    align-items: center;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 0%;
    transition-duration: 0.1s;
    }
    
    button:hover {
        opacity: 0.85;
    }
    
    .button_projects {
        background: #D99F84;
    }
    
    .button_resume{
    background: #E7C4AC;
    }
    
    .button_linkedin {
        background: #D99F84;
    }
    
    .button_contact{
    background: #ECCC8E;
    }

/* Footer */

footer {
    text-align: center;
    height: 40px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px 0px;

    font-weight: 300;
    font-size: 10px;
    color: #84634E;
}
  
  /* On screens that are 992px or less */
  @media screen and (max-width: 992px) {

    #section_index{
        background-image: url("images/backgrounds/mobile_index.png" );
    }
    
    #section_index div{
        margin: 14% 30% 0% 15%;
    }

    #section_index h1{
        font-size: 4vh;
    }
    
    #section_index h2{
        font-size: 3vh;
    }

    #section_index h3{
        margin: 8% 0%;
    }
    
    #section_projects{
        background-image: url("images/backgrounds/mobile_projects.png" );
    }

    #section_about {
        background-image: url("images/backgrounds/mobile_about.png" );
    }
    #section_about div {
        padding: 10% 10% 10% 20%;
    }

    .resume_div_top, .resume_div_bottom {
        /*flex-direction: column;
        justify-content: space-evenly;*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .resume_div_content {
        /*width: 80vw;
        margin: 5% 10%;*/
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        min-width: 300px;
        margin: 5% 0%;
    }

    .resume_div_top td {
        padding: 5px 2px 0px 0px;
        font-size: 12px;
    }

    .resume_div_bottom td {
        width: 20px;
        font-size: 13px;
        margin: 0px;
        padding: 0px;
        min-width: none;
    }

    #linkedin_container {
        margin: 20% auto 20% auto;
        
    }

    /* Text styling */

    h2 {
        font-size: 4vw;
    }

    /* Buttons */

    .button_resume {
        margin-top: 10px;
    }

    /* Footer */

    footer {
        font-size: 8px;
    }

  }

    /* On screens that are 600px or less*/
    @media screen and (max-width: 600px) {

        .navbar a {
            display: none;
        }
        .navbar a.icon {
            float: right;
            display: block;
        }
    
        .navbar.responsive {
            position: relative;
        }
        .navbar.responsive a.icon {
            position: absolute;
            right: 0;
            top: 0;
        }
        .navbar.responsive a {
            float: none;
            display: block;
            text-align: right;
        }

        .page_title {
            margin-top: 15px;
        }
    }
