*{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

/* Allmän sidstyling */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #E9E8E4;
}

header{
    background: #CBC9C3;
    display: flex;
    position: fixed;
    z-index: 999;
    justify-content: space-between;
    width: 100%;
    left: 0px;
    top: 0px;

    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    margin: 15px;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    background-size: 100%;
}
  
header a{
padding: 15px;
text-decoration: none;
color: #000000;
}
  
nav a:hover {
    background-color: rgba(233, 232, 228, 0.5);
}

a.active {
    font-family: fontsMontserratBold;
}

.page_title {
    float: left;
    padding: 15px;
    margin-left: 1.5%;
    font-size: 15px;
    font-weight: lighter;
    background-size: 100%;
    font-size: 15px;
    font-weight: 300;
}

.page_title:hover{
    color: #84634E;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    float: left;
    background-size: 100%;
    position: relative;
}

#section_index{
    margin-top: 50px;
    background-color: #E9E8E4;
    /*background-image: url("images/backgrounds/index_background.html.png" );*/
}

#section_projects{
    
    background-color: #D8D7D2;
    /*background-image: url("images/backgrounds/projects_background.png" );*/
}

#section_projects_textcontainer {
    display: flex;
    flex-direction: column;

}

#section_projects_imagecontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#section_about {
    background-color: #E9E8E4;
    /*background-image: url("images/backgrounds/about_background.png" );*/
}

#section_resume {
    background-color: #D8D7D2;
    /*background-image: url("images/backgrounds/resume_background.png" );*/
}

#section_contact {
    background-color: #E9E8E4;
    /*background-image: url("images/backgrounds/contact_background.png" );*/
}

/*
h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
*/

/* Text styling */

a{
    color: black;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 4vw;
    margin-bottom: 10px;
}

h2{
    font-family: 'Merriweather', serif;
    font-size: 3vw;
    color: #84634E;

    margin-top: 0px;
}

h3, td {
    font-weight: 300;
    font-size: 13px;
}

/* Buttons */

button {
    width: 145px;
    height: 40px;
    
    border-radius: 50px;
    color: #000000;
    border: none;
    
    align-items: center;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 2%;
    transition-duration: 0.1s;
    }
    
    button:hover {
        opacity: 0.85;
    }
    
    .button_projects {
        background: #D99F84;
    }
    
    .button_resume{
    background: #E7C4AC;
    }
    
    .button_linkedin {
        background: #D99F84;
    }
    
    .button_contact{
    background: #ECCC8E;
    }


/* Bilder */

div img {
    width: 40vw;
}

/* Footer */

footer {
    text-align: center;
    height: 40px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;

    font-weight: 300;
    font-size: 10px;
    color: #84634E;
}

